<%# if @navbar_view.present? %>
  <%#= render @navbar_view %>
<%# else %>
<!--  <div style="border-bottom:2px solid black; background-color: #ffd0d0; text-align: center; padding: 20px">-->
<!--    No <strong style="font-weight: bold">Navbar View</strong> available. Please add one in the admin section.</div>-->
<%# end %>

<% if @hero_view.present? %>
  <%= render @hero_view %>
<% else %>
  <div style="border-bottom:2px solid black; background-color: #ffd0d0; text-align: center; padding: 20px">
    No <strong style="font-weight: bold">Hero View</strong> available. Please add one in the <strong style="font-weight: bold">Admin</strong> section.</div>
<% end %>


<% if @about_view.present? %>
  <%= render @about_view %>
<% else %>
  <div style="border-bottom:2px solid black; background-color: #ffd0d0; text-align: center; padding: 20px">
    No <strong style="font-weight: bold">About View</strong> available. Please add one in the <strong style="font-weight: bold">Admin </strong> section.</div>
<% end %>

<% if @hot_section_view.present? %>
  <div class="hot-container-canvas">
    <h2 style="margin-top: 0; margin-bottom: 40px">HOT & NEW Services</h2>
    <div class="hot-content-canvas">
      <%= render @hot_section_view %>
    </div>
  </div>
<% else %>
  <div style="border-bottom:2px solid black; background-color: #ffd0d0; text-align: center; padding: 20px">
    No <strong style="font-weight: bold">HotNews View</strong> available. Please add one in the <strong style="font-weight: bold">Admin </strong>section.</div>
<% end %>

<style>
    .hot-container-canvas {
        margin: 50px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .hot-content-canvas {
        display: flex;
        justify-content: center;
    }
</style>


<% if @service_view.present? %>
  <div class="service-cards-container">
  <%= render @service_view %>
  </div>
<% else %>
  <div style="border-bottom:2px solid black; background-color: #ffd0d0; text-align: center; padding: 20px">
    No <strong style="font-weight: bold">Service View</strong> available. Please add one in the <strong style="font-weight: bold">Admin </strong>section.</div>
<% end %>


<style>
    .product-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
</style>

<!-- Update the products category section -->
<% if @products_category.present? %>
  <div class="product-cards-container">
    <%= render @products_category %>
  </div>
<% else %>
  <div style="border-bottom:2px solid black; background-color: #ffd0d0; text-align: center; padding: 20px">
    No <strong style="font-weight: bold">Gallery View</strong> available. Please add one in the <strong style="font-weight: bold">Admin </strong>section.</div>
<% end %>



<style>
    .service-cards-container {
        margin: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
        gap: 10px;
    }
</style>

<% if @gallery_view.present? %>
  <%= render @gallery_view %>
<% else %>
  <div style="border-bottom:2px solid black; background-color: #ffd0d0; text-align: center; padding: 20px">
    No <strong style="font-weight: bold">Gallery View</strong> available. Please add one in the <strong style="font-weight: bold">Admin </strong>section.</div>
<% end %>

  <%= render partial: 'review_views/reviews', locals: { reviews: @reviews } %>

<% if @contact.present? %>
  <div class="hot-container-canvas">
    <h2 style="margin-top: 0; margin-bottom: 40px">CONTACTS</h2>
    <br>
    <p>We would love to hear from you! If you have any questions about our services or products, or would like to book an appointment, please don't hesitate to contact us using the information below</p>
  <div class="contact-cards-container">

    <%= render @contact.all %>
  </div>
  </div>
<% else %>
  <div style="border-bottom:2px solid black; background-color: #ffd0d0; text-align: center; padding: 20px">
    No <strong style="font-weight: bold">Contact View</strong> available. Please add one in the <strong style="font-weight: bold">Admin </strong>section.</div>
<% end %>

<style>

    .contact-cards-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }
</style>

<% if @map_view.present? %>
  <%= render @map_view %>
<% else %>
  <div style="border-bottom:2px solid black; background-color: #ffd0d0; text-align: center; padding: 20px">
    No <strong style="font-weight: bold">Map View</strong> available. Please add one in the <strong style="font-weight: bold">Admin </strong>section.</div>
<% end %>

<%# if @footer_view.present? %>
  <%#= render @footer_view %>
<%# else %>
<!--  <div style="border-bottom:2px solid black; background-color: #ffd0d0; text-align: center; padding: 20px">-->
<!--    No <strong style="font-weight: bold">Footer View</strong> available. Please add one in the <strong style="font-weight: bold">Admin </strong>section.</div>-->
<%# end %>
<!--</div>-->



<style>
    .form-text-fields{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
    }
    .form-text-fields > input{
        padding: 20px 15px;
        width: 50%;
        border: 1px solid black;
        border-radius: 5px;
    }
    #welcome-admin-banner{
        background-color: #ffd05e;
        padding: 10px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    admin-form-view{
        display: flex;
        flex-direction: column;
        justify-content: center;
        background-color: rebeccapurple;



    }
    #admin-form-h1{
        font-family: "Raleway";
        font-weight: 600;
        font-size: 50px;
    }

    #admin-buttons-flex{
        flex-direction: row;
    }

    #p-view{
        color: black;
        width: 40%;
        text-align: center;
        font-weight: 600;
    }

    #admin-button-form{
        padding: 15px 25px;
        border: 2px solid #ffffff;
        background-color: rgb(0, 0, 0);
        color: #ffffff;
        font-weight: 600;
        max-width: 20%;
    }

    #admin-button-form > a{
        color: white;
        text-decoration: none;
    }

</style>
