<%#= javascript_include_tag 'cart' %>
<style>
    .content-container {
        background-color: black;
        color: white;
        width: 100vw;
        height: 30vh;
        padding: 20px;
        text-align: center;
    }

    .content-container h2,
    .content-container p {
        text-align: left;
        margin: 0 30px;

    }

    .content-container h2 {
        font-size: 40px;
        margin-bottom: 10px;

        margin-top: 60px;
        font-weight: bolder;
        padding-bottom: 30px;
    }

    .content-container p {
        font-size: 16px;
    }
</style>

<div class="content-container">
  <% if @service_data_title.any? %>
    <h2><%= @service_data_title.first %></h2>
  <% else %>
    <h2>Title</h2>
  <% end %>

  <% if @service_data_desc.any? %>
    <p><%= @service_data_desc.first %></p>
  <% else %>
    <p>Description</p>
  <% end %>
</div>

<%= form_tag kart_add_path, method: :post, remote: true do %>
  <div class="button-container">
    <%= submit_tag "Add To Cart", class: "button-in-container"  %>
    <a class="button-in-container" href="cart"> Visit Cart</a>
  </div>



  <% @product_cat.each do |categories| %>
    <div>
     <p class="product-cat"> <%= categories.title  %></p>
      <br>
      <% categories.products.each do |items| %>
        <div class="product-container" id="<%= dom_id items %>">
          <div class="checkbox-container">
            <p class="product-name">
              <%= items.name %>
            </p>
            <label>
              <%= check_box_tag "service_item_ids[]", items.id, false , onchange:"updateCartCount(this)" %>
            </label>
          </div>
          <p class="product-price"> CAD
            <%= items.price %>
          </p>
          <p class="product-time">
            <%= items.time %>
          </p>
          <p class="product-description">
            <%= items.description %>
          </p>
        </div>
        <br>
        <br>
      <% end %>

    </div>

  <% end %>


<% end %>


<style>

    .button-container {
        display: flex;
        justify-content: center;
        margin-top: 20px;
    }

    .button-in-container{
        background-color: black;
        color: white;
        border: 1px solid white;
        padding: 20px 70px;
        font-size: 16px;
        cursor: pointer;
        margin: 0 20px;
    }

    .product-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 80%;
        margin: auto;
        padding: 20px;
        background-color: white;
        color: black;
        border: 1px solid black;
    }

    .product-cat {
        font-size: 28px;
        font-weight: bold;
        padding-bottom: 10px;
        border-bottom: 3px solid black;
        width: 20%;
        margin: 40px auto 40px 130px;
    }
    .product-name {
        font-size: 24px;
        font-weight: bold;
        margin-right: auto;
    }

    .product-price {
        font-size: 24px;
        font-weight: bold;
        margin-left: auto;
    }

    .product-time {
        font-size: 18px;
        margin-top: 10px;
        text-align: left;
    }

    .product-description {
        font-size: 18px;
        text-align: left;
        margin-top: 10px;
    }

    .checkbox-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

</style>



<%# if @service_data_title.any? %>

<!--  <h2><%#= @service_data_title.first %></h2>-->

<%# else %>
<!--  <h2>Title</h2>-->
<%# end %>

<%# if @service_data_desc.any? %>
<!--  <p><%#= @service_data_desc.first %></p>-->
<%# else %>
<!--  <p>Description</p>-->
<%# end %>

<%#= form_tag kart_add_path, method: :post, remote: true do %>
  <%# @product_cat.each do |categories| %>
<!--    <div>-->
      <%#= categories.title  %>
<!--      <hr>-->
      <%# @products.each do |items| %>
<!--        <label>-->
          <%#= check_box_tag "service_item_ids[]", items.id, false , onchange:"updateCartCount(this)" %>
          <%#= check_box_tag "service_item_ids[]", items.id %>
          <%#= items.name + " "  + items.price.to_s  + " "  + items.description %>
<!--        </label>-->
<!--        <br>-->
<!--        <br>-->
      <%# end %>
<!--    </div>-->
  <%# end %>
  <%#= submit_tag "Add Selected Items to Cart" %>
<%# end %>

<script>
    document.addEventListener("turbo:load", function() {
        var checkboxes = document.querySelectorAll('input[type=checkbox]');
        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                // Access the cart count number element
                var cartCountNumber = document.getElementById("cart-count-number");

                var count = parseInt(cartCount.innerHTML);
                if (this.checked) {
                    count += 1;
                } else {
                    if (count > 0) {
                        count -= 1;
                    } else {
                        count = 0;
                    }
                }
                cartCountNumber.innerHTML = count.toString();
            });
        });
    });
</script>
<script>


    document.addEventListener("turbo:load", function() {
        var checkboxes = document.querySelectorAll('input[type=checkbox]');
        var cartCount = document.getElementById('cart-count');
        var count = <%= @kart.quantity %>;

        checkboxes.forEach(function(checkbox) {
            checkbox.addEventListener('change', function() {
                cartCount.innerHTML = <%= @kart.quantity %>;
            });
        });
    });

</script>


<%# @product_cat.each do |category| %>
<!--  <div>-->
    <%#= category.title %>
<!--    <hr>-->
    <%# category.products.each do |product| %>
      <%#= form_with(url: kart_add_path) do |f| %>
        <%#= f.hidden_field :id, value: product.id %>
        <%#= f.check_box :quantity, {class: 'product-checkbox'}, "1", "0" %>
        <%#= f.label :quantity, "#{product.name} (#{product.price})" %>
      <%# end %>
    <%# end %>
<!--  </div>-->
<%# end %>

<%# @service_cat.each do |categories| %>
<!--  <div>-->
    <%#= categories.title  %>
<!--    <hr>-->
    <%# @service_items.each do |items| %>
    <%#= items.service_name , items.time, items.price, items.description %>
      <%#= items.service_name + " " + items.time.to_s + " " + items.price.to_s + " " + items.description %>
      <%#= items.name + " "  + items.price.to_s  + " "  + items.description %>
<!--      <br>-->
<!--      <br>-->
  <%# end %>
<!--  </div>-->
<%# end %>


<%# @service_cat.each do |categories| %>
<!--  <div>-->
    <%#= categories.title  %>
<!--    <hr>-->
    <%# categories.service_items.each do |items| %>
      <%#= items.service_name + " " + items.time.to_s + " " + items.price.to_s + " " + items.description %>
    <%# end %>
<!--  </div>-->
<%# end %>
