<div class="about-view-container">
  <%= form_with(model: about_view) do |form| %>
    <% if about_view.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(about_view.errors.count, "error") %> prohibited this about_view from being saved:</h2>

        <ul>
          <% about_view.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
    </div>

<!--    <div class="field">-->
      <%#= form.label :about_link, style: "display: block" %>
      <%#= form.text_field :about_link %>
<!--    </div>-->

    <div class="actions">
      <%= form.submit "Save", class: "save-button" %>
    </div>
  <% end %>
</div>

<style>
    /* Style for the container */
    .about-view-container {
        max-width: 550px;
        margin: 0 auto;
    }

    /* Style for the input fields */
    input[type="text"],
    textarea {
        display: block;
        width: 100%;
        padding: 50px 0;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid black;
        font-size: 16px;
    }

    /* Style for the save button */
    .save-button {
        display: block;
        width: 30%;
        padding: 10px;
        border: none;
        background-color: green;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    /* Style for the save button when hovered */
    .save-button:hover {
        background-color: #1d941d;
    }

    /* Style for the error messages */
    .error-messages {
        color: red;
    }
</style>
