<div id="<%= dom_id contact_item %>">
  <p>
    <strong>Image:</strong>
    <%= contact_item.image %>
  </p>

  <p>
    <strong>Attachment:</strong>
    <%= contact_item.attachment %>
  </p>

  <p>
    <strong>Contacttype:</strong>
    <%= contact_item.contactType %>
  </p>

  <p>
    <strong>String:</strong>
    <%= contact_item.string %>
  </p>

  <p>
    <strong>Contact:</strong>
    <%= contact_item.contact %>
  </p>

</div>
