<%= form_with(model: contact_item) do |form| %>
  <% if contact_item.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(contact_item.errors.count, "error") %> prohibited this contact_item from being saved:</h2>

      <ul>
        <% contact_item.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.text_field :image %>
  </div>

  <div>
    <%= form.label :attachment, style: "display: block" %>
    <%= form.text_field :attachment %>
  </div>

  <div>
    <%= form.label :contactType, style: "display: block" %>
    <%= form.text_field :contactType %>
  </div>

  <div>
    <%= form.label :string, style: "display: block" %>
    <%= form.text_field :string %>
  </div>

  <div>
    <%= form.label :contact, style: "display: block" %>
    <%= form.text_field :contact %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
