<%= form_with(model: hot_new_view) do |form| %>
  <% if hot_new_view.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(hot_new_view.errors.count, "error") %> prohibited this hot_new_view from being saved:</h2>

      <ul>
        <% hot_new_view.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :image, style: "display: block" %>
    <%= form.file_field :image %>
  </div>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :description, style: "display: block" %>
    <%= form.text_area :description %>
  </div>

  <div>
    <%= form.label :isVisible, style: "display: block" %>
    <%= form.check_box :isVisible %>
  </div>

  <div>
    <%= form.label :link, style: "display: block" %>
    <%= form.text_field :link %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
