<div id="<%= dom_id hot_new_view %>">
  <p>
    <strong>Image:</strong>
    <%= link_to hot_new_view.image.filename, hot_new_view.image if hot_new_view.image.attached? %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= hot_new_view.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hot_new_view.description %>
  </p>

  <p>
    <strong>Isvisible:</strong>
    <%= hot_new_view.isVisible %>
  </p>

  <p>
    <strong>Link:</strong>
    <%= hot_new_view.link %>
  </p>

</div>
