<p style="color: green"><%= notice %></p>

<%= render @contact_view %>

<div>
  <%= link_to "Edit this contact view", edit_contact_view_path(@contact_view) %> |
  <%= link_to "Back to contact views", contact_views_path %>

  <%= button_to "Destroy this contact view", @contact_view, method: :delete %>
</div>
