<h1>Your Kart</h1>
<% @kart.orderables.each do |orderable| %>
  <% product = orderable.product %>
  <div>
    <p><%= product.name %> * <%= orderable.quantity %> = $<%= product.price * orderable.quantity %></p>
    <%= button_to "Remove", kart_remove_path(orderable.id), method: :delete, remote: true %>
  </div>
<% end %>
<p>Your total is $<%= @kart.total %> </p>
