<turbo-frame id="cart">
  <%= render partial: 'kart/kart', locals: { kart: @kart } %>
  <%#= render 'appointments/form', appointment: @appointment %>
  <%= render partial: 'appointments/form', locals: { appointment: @appointment } %>


  <h1>Your Kart</h1>

<% if @kart.orderables.count > 0 %>
  <% @kart.orderables.each do |orderable| %>
    <% product = orderable.product %>
    <div id="cart_item_<%= orderable.id %>">
      <p><%= product.name %></p>

      <%= button_to "Remove", kart_remove_path(orderable.id), method: :delete, remote: true %>
    </div>
  <% end %>
<!--  <p>Your total is $<%#= @kart.total %></p>-->
<% else %>
  <p>Your cart is empty </p>
<% end %>

</turbo-frame>
