<p style="color: green"><%= notice %></p>

<%= render @hot_section_view %>

<div>
  <%= link_to "Edit this hot section view", edit_hot_section_view_path(@hot_section_view) %> |
  <%= link_to "Back to hot section views", hot_section_views_path %>

  <%= button_to "Destroy this hot section view", @hot_section_view, method: :delete %>
</div>
