<div id="<%= dom_id service_item %>">
  <p>
    <strong>Service name:</strong>
    <%= service_item.service_name %>
  </p>

  <p>
    <strong>Time:</strong>
    <%= service_item.time %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= service_item.price %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= service_item.description %>
  </p>


</div>
