<p style="color: green"><%= notice %></p>

<div>
  <h1>Footer views</h1>
  <div>
    <%= render 'layouts/navbar' %>
  </div>
  <div>
    <div id="footer_views">
      <% @footer_views.each do |footer_view| %>
        <%= render footer_view %>
        <p>
          <%= link_to "Show this footer view", footer_view %>
        </p>
      <% end %>
    </div>

    <%= link_to "New footer view", new_footer_view_path %>
  </div>
</div>
