<div class="product-category-form-container">
  <%= form_with(model: product_category) do |form| %>
    <% if product_category.errors.any? %>
      <div class="error-messages">
        <h2><%= pluralize(product_category.errors.count, "error") %> prohibited this product_category from being saved:</h2>

        <ul>
          <% product_category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= form.label :title, style: "display: block" %>
      <%= form.text_field :title %>
    </div>

    <div class="field">
      <%= form.label :description, style: "display: block" %>
      <%= form.text_area :description %>
    </div>

    <div class="field">
      <%= form.label :link, style: "display: block" %>
      <%= form.text_field :link %>
    </div>

    <div class="field">
      <%= form.label :image %>
      <%= form.file_field :image %>
    </div>

    <div class="actions">
      <%= form.submit "Save", class: "save-button" %>
    </div>
  <% end %>
</div>

<style>
    /* Style for the container */
    .product-category-form-container {
        max-width: 550px;
        margin: 0 auto;
    }

    /* Style for the input fields */
    input[type="text"],
    textarea {
        display: block;
        width: 100%;
        padding: 50px 0;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid black;
        font-size: 16px;
    }

    /* Style for the file input field */
    input[type="file"] {
        margin-top: 20px;
    }

    /* Style for the save button */
    .save-button {
        display: block;
        width: 30%;
        padding: 10px;
        border: none;
        background-color: green;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    /* Style for the save button when hovered */
    .save-button:hover {
        background-color: #1d941d;
    }

    /* Style for the error messages */
    .error-messages {
        color: red;
    }
</style>
