<div id="<%= dom_id hero_view %>">
  <p>
    <strong>Image:</strong>
    <% if hero_view.image.attached? %>
      <%= image_tag hero_view.image %>
    <% else %>
      No image available.
    <% end %>
  </p>

  <p>
    <strong>Title:</strong>
    <%= hero_view.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= hero_view.description %>
  </p>

  <p>
    <strong>Button:</strong>
    <%= hero_view.button %>
  </p>

  <p>
    <strong>Isvisible:</strong>
    <%= hero_view.isVisible %>
  </p>

</div>
