<%= form_with(model: appointment) do |form| %>
  <%= form.hidden_field :kart_id, value: @kart.id %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :special_needs, style: "display: block" %>
    <%= form.text_area :special_needs %>
  </div>


  <h3>Order Details:</h3>
  <table>
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <% @appointment.orderables.each do |orderable| %>
      <% product = orderable.product %>
      <tr>
        <td><h2></h2><%= product.name %></td>
<!--        <td><%#= orderable.quantity %></td>-->
        <td><%= product.price %></td>
<!--        <td><%#= orderable.total %></td>-->
      </tr>
    <% end %>
    </tbody>
  </table>


  <div>
    <%= form.submit %>
  </div>
<% end %>
