<%= form_with(model: appointment) do |form| %>

  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>

      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :kart_id, value: @kart.id %>

  <div class="field">
    <%= form.label "Select a preferred time for Time " %>
    <br>
    <% morning_times = ['1:00am', '2:30am', '3:00am'] %>
    <% afternoon_times = ['1:00pm', '2:30pm', '3:00pm'] %>
    <% evening_times = ['10:00am', '10:30am', '11:00am'] %>


    <h3>Morn</h3>
    <% morning_times.each do |time| %>
      <% disabled = @taken_time_slots.include?(time) %>
      <label class="custom-radio <%= 'disabled' if disabled %>" for="time-<%= time %>">
        <%= form.radio_button :time, time, id: "time-#{time}", onchange: "disableSelectedTime(this); toggleSubmitButton()", disabled: disabled, style: "display: none;" %>
        <%= disabled ? 'N/A' : time %>
      </label>
      <%#= form.radio_button :time1, time, id: "time1-#{time}", onchange: "disableSelectedTime(this)", disabled: @appointments.include?(time)  %> <%#= time %>
    <% end %>
    <h3>Afternon</h3>
    <% afternoon_times.each do |time| %>
      <% disabled = @taken_time_slots.include?(time) %>
      <label class="custom-radio <%= 'disabled' if disabled %>" for="time-<%= time %>">
        <%= form.radio_button :time, time, id: "time-#{time}", onchange: "disableSelectedTime(this); toggleSubmitButton()", disabled: disabled, style: "display: none;" %>
        <%= disabled ? 'N/A' : time %>
      </label>
    <% end %>
    <h3>Evening</h3>
    <% evening_times.each do |time| %>
      <% disabled = @taken_time_slots.include?(time) %>
      <label class="custom-radio <%= 'disabled' if disabled %>" for="time-<%= time %>">
        <%= form.radio_button :time, time, id: "time-#{time}", onchange: "disableSelectedTime(this); toggleSubmitButton()", disabled: disabled, style: "display: none;" %>
        <%= disabled ? 'N/A' : time %>
      </label>
    <% end %>

  </div>
  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :phone, style: "display: block" %>
    <%= form.text_field :phone %>
  </div>

  <div>
    <%= form.label :date, style: "display: block" %>
    <%= form.date_field :date %>
  </div>

  <div>
    <%= form.label :email, style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label :special_needs, style: "display: block" %>
    <%= form.text_area :special_needs %>
  </div>


  <h3>Order Details:</h3>
  <table>
    <thead>
    <tr>
      <th>Product Name</th>
      <th>Quantity</th>
      <th>Price</th>
      <th>Total</th>
    </tr>
    </thead>
    <tbody>
    <% @appointment.orderables.each do |orderable| %>
      <% product = orderable.product %>
      <tr>
        <td><h2></h2><%= product.name %></td>
<!--        <td><%#= orderable.quantity %></td>-->
        <td><%= product.price %></td>
<!--        <td><%#= orderable.total %></td>-->
      </tr>
    <% end %>
    </tbody>
  </table>



  <div class="field">
    <%= form.check_box :terms_accepted, id: "terms_accepted", onchange: "toggleSubmitButton(this)" %>
    <%= form.label :terms_accepted, "Before submitting, you agree to the" %>
    <%= link_to "Terms and Conditions", "/terms_and_conditions" %>
    <!-- If you want to link to a Google Drive file, replace "/terms_and_conditions" with the file's URL -->
  </div>


  <div class="actions">
    <%= form.submit "Submit", disabled: true %>
  </div>
<% end %>



<style>
    /* Custom radio button styles */
    .custom-radio {
        display: inline-block;
        background-color: black;
        color: white;
        padding: 8px 16px;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
    }

    .custom-radio.disabled {
        background-color: gray;
        cursor: not-allowed;
    }

    .custom-radio.selected {
        background-color: #2b800f;
    }

</style>

<script>
    // call the function on page load

    function toggleSubmitButton() {
        let termsCheckbox = document.getElementById("terms_accepted");
        let time1Radios = document.getElementsByName("appointment[time]");
        let timeSelected = Array.from(time1Radios).some(radio => radio.checked);
        let submitButton = document.querySelector("input[type='submit']");
        submitButton.disabled = !(termsCheckbox.checked && timeSelected);
    }

    document.addEventListener("DOMContentLoaded", () => {
        toggleSubmitButton();
        let termsCheckbox = document.getElementById("terms_accepted");
        termsCheckbox.addEventListener("change", toggleSubmitButton);
    });

    function disableSelectedTime(clickedRadioButton) {
        let radioButtons = document.querySelectorAll("input[name='appointment[time]']");
        radioButtons.forEach(function (radioButton) {
            if (radioButton !== clickedRadioButton) {
                radioButton.checked = false;
            }
        });

        let labels = document.querySelectorAll(".custom-radio");
        labels.forEach(function (label) {
            if (label.getAttribute("for") === clickedRadioButton.id) {
                label.classList.add("selected");
            } else {
                label.classList.remove("selected");
            }
        });
    }


</script>
