<%#= form_with(model: appointment) do |form| %>

  <%# if appointment.errors.any? %>
<!--    <div style="color: red">-->
<!--      <h2><%#= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>-->

<!--      <ul>-->
        <%# appointment.errors.each do |error| %>
<!--          <li><%#= error.full_message %></li>-->
        <%# end %>
<!--      </ul>-->
<!--    </div>-->
  <%# end %>

  <%#= form.hidden_field :kart_id, value: @kart.id %>

<!--  <div class="field">-->
    <%#= form.label "Select a preferred time for Time " %>
<!--    <br>-->
    <%# morning_times = ['9:00am', '10:00am', '11:00am'] %>
    <%# afternoon_times = ['1:00pm', '2:00pm', '3:00pm'] %>
    <%# evening_times = ['4:00pm', '5:00pm', '5:30pm', '6:00pm'] %>


<!--    <h3>Morning</h3>-->
    <%# morning_times.each do |time| %>
      <%# disabled = @taken_time_slots.include?(time) %>
<!--      <label class="custom-radio <%#= 'disabled' if disabled %>" for="time-<%#= time %>">-->
        <%#= form.radio_button :time, time, id: "time-#{time}", onchange: "disableSelectedTime(this); toggleSubmitButton()", disabled: disabled, style: "display: none;" %>
        <%#= disabled ? 'N/A' : time %>
<!--      </label>-->
      <%##= form.radio_button :time1, time, id: "time1-#{time}", onchange: "disableSelectedTime(this)", disabled: @appointments.include?(time)  %> <%#= time %>
    <%# end %>
<!--    <h3>Afternon</h3>-->
    <%# afternoon_times.each do |time| %>
      <%# disabled = @taken_time_slots.include?(time) %>
<!--      <label class="custom-radio <%#= 'disabled' if disabled %>" for="time-<%#= time %>">-->
        <%#= form.radio_button :time, time, id: "time-#{time}", onchange: "disableSelectedTime(this); toggleSubmitButton()", disabled: disabled, style: "display: none;" %>
        <%#= disabled ? 'N/A' : time %>
<!--      </label>-->
    <%# end %>
<!--    <h3>Evening</h3>-->
    <%# evening_times.each do |time| %>
      <%# disabled = @taken_time_slots.include?(time) %>
<!--      <label class="custom-radio <%#= 'disabled' if disabled %>" for="time-<%#= time %>">-->
        <%#= form.radio_button :time, time, id: "time-#{time}", onchange: "disableSelectedTime(this); toggleSubmitButton()", disabled: disabled, style: "display: none;" %>
        <%#= disabled ? 'N/A' : time %>
<!--      </label>-->
    <%# end %>
<!--  </div>-->

<!--  <div class="form-container">-->
<!--  <h3 class="apt_title">Appointment Form</h3>-->
<!--  <div class="input-container">-->
    <%#= form.label :name, style: "display: block" %>
    <%#= form.text_field :name %>
<!--  </div>-->

<!--  <div class="input-container">-->
    <%#= form.label :phone, style: "display: block" %>
    <%#= form.text_field :phone %>
<!--  </div>-->

<!--  <div class="input-container">-->
    <%#= form.label :date, style: "display: block" %>
    <%#= form.date_field :date %>
<!--  </div>-->

<!--  <div class="input-container">-->
    <%#= form.label :email, style: "display: block" %>
    <%#= form.text_field :email %>
<!--  </div>-->

<!--  <div class="input-container">-->
    <%#= form.label :special_needs, style: "display: block" %>
    <%#= form.text_area :special_needs %>
<!--  </div>-->
<!--</table>-->


<!--  <h3>Services Details:</h3>-->

    <%# @appointment.orderables.each do |orderable| %>
      <%# product = orderable.product %>
<!--      <tr>-->
<!--        <h2><%#= product.name %></h2>-->
<!--        <td><%#= orderable.quantity %></td>-->
<!--        <p><%#= product.price %></p>-->
<!--        <p><%#= orderable.total %></p>-->
<!--        <p><%#= orderable.description %></p>-->
<!--        <p><%#= orderable.total %></p>-->
<!--      </tr>-->
    <%# end %>

<!--  <div class="field">-->
    <%#= form.check_box :terms_accepted, id: "terms_accepted", onchange: "toggleSubmitButton(this)" %>
    <%#= form.label :terms_accepted, "Before submitting, you agree to the" %>
    <%#= link_to "Terms and Conditions", "https://example.com/terms_and_conditions", target: "_blank", rel: "noopener noreferrer" %>
<!--  </div>-->


<!--  <div class="actions">-->
    <%#= form.submit "Submit", disabled: true %>
<!--  </div>-->
<%# end %>
<!--</div>-->
<!--</table>-->


<style>

    input[type="text"],
    textarea {
        display: block;
        width: 100%;
        padding: 10px 0;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid black;
        font-size: 16px;
    }

    .save-button {
        display: block;
        width: 30%;
        padding: 10px;
        border: none;
        background-color: green;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }

    .save-button:hover {
        background-color: #1d941d;
    }

    .error-messages {
        color: red;
    }

    .appt_form {
      border-color: #2E2F30;
  }

  .apt_title { align-self: center}
    /* Custom radio button styles */
    .input-container {
        display: table;
        width: 45%; /* Optional: Set a width to adjust the spacing between elements */
        margin-right: 5%; /* Optional: Add some margin to the right of each element */
    }

    .custom-radio {
        display: inline-block;
        background-color: black;
        color: white;
        padding: 8px 16px;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 4px;
        cursor: pointer;
        user-select: none;
    }

    .custom-radio.disabled {
        background-color: gray;
        cursor: not-allowed;
    }

    .custom-radio.selected {
        background-color: #2b800f;
    }

</style>

<script>
    // call the function on page load

    function toggleSubmitButton() {
        let termsCheckbox = document.getElementById("terms_accepted");
        let time1Radios = document.getElementsByName("appointment[time]");
        let timeSelected = Array.from(time1Radios).some(radio => radio.checked);
        let submitButton = document.querySelector("input[type='submit']");
        submitButton.disabled = !(termsCheckbox.checked && timeSelected);
    }

    document.addEventListener("DOMContentLoaded", () => {
        toggleSubmitButton();
        let termsCheckbox = document.getElementById("terms_accepted");
        termsCheckbox.addEventListener("change", toggleSubmitButton);
    });

    function disableSelectedTime(clickedRadioButton) {
        let radioButtons = document.querySelectorAll("input[name='appointment[time]']");
        radioButtons.forEach(function (radioButton) {
            if (radioButton !== clickedRadioButton) {
                radioButton.checked = false;
            }
        });

        let labels = document.querySelectorAll(".custom-radio");
        labels.forEach(function (label) {
            if (label.getAttribute("for") === clickedRadioButton.id) {
                label.classList.add("selected");
            } else {
                label.classList.remove("selected");
            }
        });
    }


</script>


<%= form_with(model: appointment) do |form| %>
  <% if appointment.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(appointment.errors.count, "error") %> prohibited this appointment from being saved:</h2>
      <ul>
        <% appointment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :kart_id, value: @kart.id %>

  <div class="appointment-container">
    <div class="times-container">

      <br>
      <% morning_times = ['9:00am','9:30am','10:00am', '10:30am', '11:00am', '11:30am',] %>
      <% afternoon_times = ['1:00pm','1:30pm', '2:00pm','2:30pm','3:00pm', '3:30pm'] %>
      <% evening_times = ['4:00pm', '5:00pm', '5:30pm', '6:00pm'] %>

      <h2>Morning</h2>
      <% morning_times.each do |time| %>
        <% disabled = @taken_time_slots.include?(time) %>
        <label class="custom-radio <%= 'disabled' if disabled %>" for="time-<%= time %>">
          <%= form.radio_button :time, time, id: "time-#{time}", onchange: "disableSelectedTime(this); toggleSubmitButton()", disabled: disabled, style: "display: none;" %>
          <%= disabled ? 'N/A' : time %>
        </label>
      <% end %>
      <h2>Afternoon</h2>
      <% afternoon_times.each do |time| %>
        <% disabled = @taken_time_slots.include?(time) %>
        <label class="custom-radio <%= 'disabled' if disabled %>" for="time-<%= time %>">
          <%= form.radio_button :time, time, id: "time-#{time}", onchange: "disableSelectedTime(this); toggleSubmitButton()", disabled: disabled, style: "display: none;" %>
          <%= disabled ? 'N/A' : time %>
        </label>
      <% end %>
      <h2>Evening</h2>
      <% evening_times.each do |time| %>
        <% disabled = @taken_time_slots.include?(time) %>
        <label class="custom-radio <%= 'disabled' if disabled %>" for="time-<%= time %>">
          <%= form.radio_button :time, time, id: "time-#{time}", onchange: "disableSelectedTime(this); toggleSubmitButton()", disabled: disabled, style: "display: none;" %>
          <%= disabled ? 'N/A' : time %>
        </label>
      <% end %>
    </div>



  </div>
  <div class="form-container">
    <h2 style="font-weight: bolder" class="apt_title">Appointment Form</h2>
    <div class="input-container">
      <p><%= form.label :name, style: "display: block; font-weight: bolder;" %></p>
      <%= form.text_field :name %>
    </div>

    <div class="input-container">
      <%= form.label :phone, style: "display: block; font-weight: bolder;" %>
      <%= form.text_field :phone %>
    </div>

    <div class="input-container" style="position: relative;">
      <%= form.label :date, style: "display: block; font-weight: bolder;" %>
      <%= form.date_field :date %>
    </div>
    <div class="input-container">
      <%= form.label :email, style: "display: block; font-weight: bolder;" %>
      <%= form.text_field :email %>
    </div>

    <div class="input-container">
      <%= form.label :special_needs, style: "display: block; font-weight: bolder;" %>
      <%= form.text_area :special_needs %>
    </div>

    <div class="field">
      <%= form.check_box :terms_accepted, id: "terms_accepted", onchange: "toggleSubmitButton(this)" %>
      <%= form.label :terms_accepted, "Before submitting, you agree to the" %>
      <%= link_to "Terms and Conditions", "https://example.com/terms_and_conditions", target: "_blank", rel: "noopener noreferrer", class: "terms-link" %>

    </div>
    <br>
    <br>

    <div class="actions">
      <%= form.submit "Book Appointment", disabled: true, id: "submit-button" %>
    </div>
  </div>
<% end %>
<style>
    .terms-link {

        color: blue; /* Set the text color to white for better contrast */
        padding: 4px 8px; /* Add some padding for a better appearance */
        text-decoration: none; /* Remove the default underline */
    }

    .terms-link:hover {
        color: darkblue; /* Add a hover effect with a darker shade of blue */
    }

    #submit-button {
        background-color: black;
        color: white;
        padding: 20px 50px; /* Adjust padding values as needed */
        border: none;
        cursor: pointer;
        transition: background-color 0.3s;
        margin-bottom: 50px;
    }

    #submit-button:hover {
        background-color: #444;
    }


.appointment-container {
       max-width: 88%;
        margin-bottom: 30px;
    }

    .times-container {
       width: 40%;
        margin-left: 40px;
        margin-top: 40px;
    }

    .kart-container {
        flex: 1;
    }


    input[type="text"],
    textarea {
        display: block;
        width: 100%;
        padding: 10px 0;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid black;
        font-size: 16px;
    }

    .save-button {
        display: block;
        width: 30%;
        padding: 10px;
        border: none;
        background-color: green;
        color: white;
        font-size: 16px;
        cursor: pointer;
    }
    input[type="text"],
    input[type="date"],
    textarea {
        display: block;
        width: 100%;
        padding: 10px 0;
        margin-bottom: 30px;
        border: none;
        border-bottom: 1px solid black;
        font-size: 16px;
    }

    input[type="date"]::before {
        content: '\e916'; /* Material Icons 'event' Unicode value */
        font-family: 'Material Icons';
        position: absolute;
        right: 5px;
        top: 50%;
        transform: translateY(-50%);
    }
    .save-button:hover {
        background-color: #1d941d;
    }

    .error-messages {
        color: red;
    }

    .appt_form {
        border-color: #2E2F30;
    }
    .times-container h2{
        font-weight: bolder;
        margin-bottom: 10px;
        padding-bottom: 10px;
        border-bottom: 3px solid black;
        max-width: 160px;
    }

    .apt_title { align-self: center}
    /* Custom radio button styles */
    .input-container {
        display: table;
        width: 45%; /* Optional: Set a width to adjust the spacing between elements */
        margin-right: 5%; /* Optional: Add some margin to the right of each element */
    }

    .custom-radio {
        display: inline-block;
        background-color: black;
        color: white;
        font-weight: bolder;
        padding: 13px 16px;
        margin-right: 8px;
        margin-bottom: 8px;
        border-radius: 0px;
        cursor: pointer;
        user-select: none;
    }

    .custom-radio.disabled {
        background-color: gray;
        cursor: not-allowed;
    }

    .custom-radio.selected {
        background-color: #2b800f;
    }
    .form-container {
        max-width: 1250px;
       display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
    }

    /* Large screens (laptops, desktops) */
    @media (min-width: 1024px) {
        .times-container {
          width: 90%;
            margin-bottom:120px;
        }

    }

    /* Medium screens (tablets) */
    @media (min-width: 768px) and (max-width: 1023px) {
        .times-container {
            width: auto;
            margin: 33px;
        }

    }
    /* Small screens (mobile phones) */
    @media (max-width: 767px) {

        .times-container {
            width: auto;
            margin: 33px;
        }

    }

</style>
