<div id="<%= dom_id navbar_view %>">
  <p>
    <strong>Image:</strong>
    <%= link_to navbar_view.image.filename, navbar_view.image if navbar_view.image.attached? %>
  </p>

  <p>
    <strong>Brand name:</strong>
    <%= navbar_view.brand_name %>
  </p>

  <p>
    <strong>Link name1:</strong>
    <%= navbar_view.link_name1 %>
  </p>

  <p>
    <strong>Link name2:</strong>
    <%= navbar_view.link_name2 %>
  </p>

  <p>
    <strong>Link name3:</strong>
    <%= navbar_view.link_name3 %>
  </p>

  <p>
    <strong>Link name4:</strong>
    <%= navbar_view.link_name4 %>
  </p>

  <p>
    <strong>Services link:</strong>
    <%= navbar_view.services_link %>
  </p>

  <p>
    <strong>Gallery link:</strong>
    <%= navbar_view.gallery_link %>
  </p>

</div>
