
<div id="flex">
  <p style="color: green"><%= notice %></p>
  <%= render 'layouts/navbar' %>

  <div id="right">
    <h1>Navbar views</h1>
    <div id="navbar_views">
      <% @navbar_views.each do |navbar_view| %>
        <%= render navbar_view %>
        <p>
          <%= link_to "Show this navbar view", navbar_view %>
        </p>
      <% end %>
    </div>
    <%= link_to "New navbar view", new_navbar_view_path %>
  </div>
</div>
