<p style="color: green"><%= notice %></p>

<%= render @navbar_view %>

<div>
  <%= link_to "Edit this navbar view", edit_navbar_view_path(@navbar_view) %> |
  <%= link_to "Back to navbar views", navbar_views_path %>

  <%= button_to "Destroy this navbar view", @navbar_view, method: :delete %>
</div>

